.carousel-item {
    position: relative;
  }
  .btn{
    border-style: none;
  }
  
  .carousel-item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
  }
  
  .carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .carousel-item p {
    max-width: 700px;
    margin: 0 auto 35px auto;
  }
  
  .carousel-control-prev {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--bs-primary);
    border-radius: 0 50px 50px 0;
    opacity: 1;
  }
  
  .carousel-control-prev:hover {
    background: var(--bs-secondary);
    transition: .8s;
  }
  
  .carousel-control-next {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--bs-primary);
    border-radius: 50px 0 0 50px;
    opacity: 1;
  }
  
  .carousel-control-next:hover {
    background: var(--bs-secondary);
    transition: .8s;
  }
  
  .carousel-caption .carousel-content a button.carousel-content-btn1 {
    /* background: var(--bs-secondary); */
    color: var(--bs-light);
    opacity: 1;
    border: 0;
    border-radius: 20px;
  }
  *, ::before, ::after {
    box-sizing: border-box;
  }
  
  .carousel-caption .carousel-content a button.carousel-content-btn1:hover {
    background: var(--bs-primary);
    color: #ffffff;
    border: 0;
    opacity: 1;
    transition: 1s;
    border-radius: 20px;
  }
  
  .carousel-caption .carousel-content a button.carousel-content-btn2 {
    background: var(--bs-primary);
    color: var(--bs-white);
    opacity: 1;
    border: 0;
    border-radius: 20px;
  }
  
  .carousel-caption .carousel-content a button.carousel-content-btn2:hover {
    background: var(--bs-success);
    color: var(--bs-light);
    border: 0;
    opacity: 1;
    transition: 1s;
    border-radius: 20px;
  }
  
  #carouselId .carousel-indicators li {
    width: 30px;
    height: 10px;
    background: var(--bs-primary);
    margin: 10px;
    border-radius: 30px;
    opacity: 1;
  }
  
  #carouselId .carousel-indicators li:hover {
    background: var(--bs-secondary);
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .carousel-item {
        min-height: 500px;
    }
    
    .carousel-item img {
        min-height: 500px;
        object-fit: cover;
    }
  
    .carousel-item h1 {
        font-size: 40px !important;
    }
  
    .carousel-item p {
        font-size: 16px !important;
    }
  }
  
  @media (max-width: 768px) {
    .carousel-item {
        min-height: 400px;
    }
    
    .carousel-item img {
        min-height: 400px;
        object-fit: cover;
    }
  
    .carousel-item h1 {
        font-size: 28px !important;
    }
  
    .carousel-item p {
        font-size: 14px !important;
    }
  }
 
  @keyframes fadeInRight {
    from {
      opacity: 1;
      transform: translateX(100%);
    }
    to {
      opacity: 2;
      transform: translateX(0);
    }
  }
  
  .animated {
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-fill-mode:both;
  }
  
/* @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
   */
  /* Home.css */
  
                /* TESTIMONIALS */
                .testimonial-item {
                    background: #e3f0eb;
                
                }
                
                .testimonial-carousel .owl-dots {
                    margin-top: 15px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                }
                
                .testimonial-carousel .owl-dot {
                    position: relative;
                    display: inline-block;
                    margin: 0 5px;
                    width: 15px;
                    height: 15px;
                    background: #c1dad0;
                    border-radius: 15px;
                    transition: .5s;
                }
                
                .testimonial-carousel .owl-dot.active {
                    width: 30px;
                    background: var(--bs-primary);
                }
                
                .testimonial-carousel .owl-item.center {
                    position: relative;
                    z-index: 1;
                }
                
                .testimonial-carousel .owl-item .testimonial-item {
                    transition: .5s;
                }
                
                .testimonial-carousel .owl-item.center .testimonial-item {
                    background: #FFFFFF !important;
                    box-shadow: 0 0 30px #DDDDDD;
                }
                /* About */
                .col-md-6{
                    max-width: 100%;
                }
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Optional: You can add translation for additional effects */
    }
    to {
      opacity: 2;
      transform: translateY(0); /* Optional: Adjust the translation based on your preference */
    }
  }
  
  .fadeIn {
    animation: fadeIn 5s ease forwards;
  }
  .services .services-item {
    box-shadow: 0 0 60px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
}


.services-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    background: rgba(3, 43, 243, 0.8);
    transition: .5s;
}

.services-content::after {
    top: 0;
    bottom: auto;
    border-radius: 10px 10px 10px 10px;
}

.services-item:hover .services-content::after {
    height: 100%;
    opacity: 1;
    transition: .5s;
}

.services-item:hover .services-content-icon {
    position: relative;
    z-index: 2;
}

.services-item .services-content-icon i,
.services-item .services-content-icon p {
    transition: .5s;
}

.services-item:hover .services-content-icon i {
    color: var(--bs-success) !important;
}

.services-item:hover .services-content-icon p {
    color: var(--bs-white);
}
.btn-success:hover{
  background: rgb(4, 71, 28);
}
.text-primary{
  color:aqua;
}
              /* Blogs */
.blog-item .blog-btn {
  z-index: 2;
}

.blog-btn .blog-btn-icon {
  height: 50px;
  position: relative;
  overflow: hidden;
}

.blog-btn-icon .blog-icon-2 {
  display: flex;
  position: absolute;
  top: 6px;
  left: -140px;
  
}

.blog-btn-icon:hover .blog-icon-2 {
  transition: 1s;
  left: 5px;
  top: 6px;
  padding-bottom: 5px;
}
.blog-icon-1 {
  position: relative;
  top: -4px;
}
.blog-btn-icon:hover .blog-icon-1 {
  top: 0;
  right: -140px;
  transition: 1s;

}
.border-4 {
  width: 170px;
  height: 140px;
}
 /* ......team  */
 .team-item {
  border-top: 30px solid var(--bs-success) !important;
  background: rgba(239, 239, 241, 0.8);
}

.team-content::before {
  height: 200px;
  display: block;
  content: "";
  position: relative;
  top: -101px;
  background: var(--bs-success);
  clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
  padding: 60px;
  opacity: 1;
}

.team-img-icon {
  position: relative;
  margin-top: -200px;
  padding: 30px;
  padding-bottom: 0;
}

.team-img {
  border: 15px solid var(--bs-white);
}

.team-img img {
  border: 10px solid var(--bs-success);
  transition: .5s;
}

.team-item:hover h4 {
  color: var(--bs-primary);
  transition: .5s;
}

.team-item:hover .team-img img {
  transform: scale(1.05);
  border: 10px solid var(--bs-success);
}

.team-carousel .owl-stage {
  position: relative;
  width: 100%;
  height: 100%;
}

.team-carousel .owl-nav {
  position: absolute;
  top: -100px;
  right: 50px;
  display: flex;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  margin-left: 15px;
  background: var(--bs-success);
  color: var(--bs-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
  background: var(--bs-primary);
  color: var(--bs-white);
}

@media (max-width: 992px) {
  .team-carousel {
      margin-top: 3rem;
  }

  .team-carousel .owl-nav {
      top: -85px;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      margin-left: -15px;
  }
}


  
                  
                
  